<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuncool.yun_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.ShopDetailActivity" />
        <activity android:name=".Activity.MyDocumentActivity" />
        <activity android:name=".Activity.DocumentDetailActivity" />
        <activity android:name=".Activity.UserInfoComplementActivity" />
        <activity android:name=".Activity.RechargeOnlineActivity" />
        <activity android:name=".Activity.FileUploadActivity" />
        <activity android:name=".Activity.MircroLibraryActivity" />
        <activity android:name=".Activity.RecommendActivity"></activity>
    </application>

</manifest>
