<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuncool.yun_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" />
        <activity
            android:name=".Activity.LoginActivity"
            android:label="登录" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:label="注册" />
        <activity
            android:name=".Activity.ShopDetailActivity"
            android:label="商铺详情"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.MyDocumentActivity"
            android:label="我的文档" />
        <activity
            android:name=".Activity.DocumentDetailActivity"
            android:label="文档详情" />
        <activity
            android:name=".Activity.UserInfoComplementActivity"
            android:label="完善资料" />
        <activity
            android:name=".Activity.RechargeOnlineActivity"
            android:label="在线充值" />
        <activity
            android:name=".Activity.FileUploadActivity"
            android:label="上传文件" />
        <activity
            android:name=".Activity.MicroLibraryActivity"
            android:label="微型资料库"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.RecommendActivity"
            android:label="推荐好友" />
        <activity
            android:name=".Activity.PrintActivity"
            android:label="我要打印" />
        <activity
            android:name=".Activity.SocialActivity"
            android:label="互动小站" />
        <activity
            android:name=".Activity.SignInActivity"
            android:label="每日签到" />
        <activity
            android:name=".Activity.MicroLibListActivity"
            android:label="微型资料库" />
        <activity
            android:name=".Activity.ShareLinksActivity"
            android:label="分享链接" />
        <activity
            android:name=".Activity.VisitShopActivity"
            android:label="关注商家" />
        <activity
            android:name=".Activity.EarnYunMoneyActivity"
            android:label="赚取云币" />
        <activity android:name=".Activity.VolleyTestActivity" />
        <activity android:name=".Activity.FilesActivity" />
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.FavorableShopActivity" />
        <activity android:name=".Activity.ScanActivity"></activity>
    </application>

</manifest>